<div class="comment" id="comment-<%= comment._id %>">
    <p>
        <%= comment.content %>
    </p>
    <% if(locals.user && (locals.user.id==comment.user.id)){ %>
        <small><a class="delete-comment-btn" href="/comments/destroy/<%= comment.id %>">X</a></small>
    <% } %>
    <p class="user"><i class="fas fa-user"></i>
        <%= comment.user.name %>
    </p>
</div>