<link rel="stylesheet" href="/css/home.css">

<h1>Nocial <%= title %></h1>

<section class="post-form">
    <form action="" method="POST">
        <textarea name="content" cols="30" rows="10" required placeholder="Enter content here..."></textarea>
        <button type="submit">Post</button>
    </form>
</section>