<link rel="stylesheet" href="/css/home.css">

<section class="main">
    <div class="post-container">
        <header>
            <h2 class="white-back">Posts</h2>

        </header>
        <% if(locals.user) { %>
            <div class="post-form white-back">
                <h3>Create Post</h3>
                <form action="/posts/create" method="POST">
                    <textarea name="content" rows="10" required placeholder="Enter content here..."></textarea>
                    <button class="btn submit-btn" type="submit">Post</button>
                </form>
            </div>
        <% } %>

        <% for(let post of posts){ %>
            <%- include("_post", {post: post}) %>  
        <% } %>
    </div>
</section>