<link rel="stylesheet" href="/css/home.css">

<section class="main">
    <div class="post-container">
        <header>
            <h2 class="white-back">Posts</h2>

        </header>
        <% if(locals.user) { %>
            <div class="post-form white-back">
                <h3>Create Post</h3>
                <form action="/posts/create" method="POST" id="post-form">
                    <textarea name="content" rows="10" required placeholder="Enter content here..."></textarea>
                    <button class="btn submit-btn" type="submit">Post</button>
                </form>
            </div>
        <% } %>
        <div class="post-container" id="post-container">
            <% for(let post of posts){ %>
                <%- include("_post", {post: post}) %>  
            <% } %>
        </div>
    </div>
</section>

<section class="aside">
    <header>
        <h3 class="white-back">Friends</h3>
    </header>
    <div class="friends-container white-back">
        <% for(let u of all_users){ %>
            <div class="user">
                <a href="/users/profile/<%= u.id %>"><i class="fas fa-user-circle"></i>
                    <%= u.name %>
                </a>
            </div>
        <% } %>
    </div>
</section>

<script src="/js/home_posts.js"></script>