<link rel="stylesheet" href="<%= assetPath('css/form.css') %>">

<div class="sign-up-form form white-back">
    <form action="/users/create" method="post">

        <div class="form-field">
            <label for="email">Email:</label>
            <input type="text" name="email" id="email" autocomplete="off" placeholder="Enter your email">
            <small></small>
        </div>

        <div class="form-field">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" autocomplete="off" placeholder="Enter password">
            <small></small>
        </div>

        <div class="form-field">
            <label for="confirm-password">Confirm Password:</label>
            <input type="password" name="confirm_password" id="confirm-password" autocomplete="off"
                placeholder="Confirm password">
            <small></small>
        </div>

        <div class="form-field">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" autocomplete="off" placeholder="Enter your name">
            <small></small>
        </div>

        <button class="btn submit-btn" type="submit">Sign Up</button>
        <a href="/users/auth/google/" class="btn submit-btn" type="submit">Google Sigin / Signup</a>

    </form>
</div>

<script src="<%= assetPath('js/validate-form.js') %>"></script>