<form action="/users/create-session" method="post">
    <input type="email" name="email" id="" placeholder="Enter your email" required>
    <input type="password" name="pass" id="" placeholder="Enter password" required>
    <button type="submit">Sign in</button>
</form>