<link rel="stylesheet" href="<%= assetPath('css/form.css') %>">

<div class="sign-in-form form white-back">
    <form action="/users/create-session" method="post">
        <div class="form-field">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" autocomplete="off" placeholder="Enter email">
            <small></small>
        </div>

        <div class="form-field">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" autocomplete="off" placeholder="Enter password">
            <small></small>
        </div>

        <button class="btn submit-btn" type="submit">Sign in</button>
        <a href="/users/auth/google/" class="btn submit-btn" type="submit">Google Sigin / Signup</a>
        <br><br>
        <p><a href="/users/forgot-password">forgot password?</a></p>
    </form>
</div>
