<link rel="stylesheet" href="<%= assetPath('css/form.css') %>">

<div class="sign-in-form form white-back">
    <form action="/users/reset-password" method="post">
        <div class="form-field">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required placeholder="Enter email">
            <small></small>
        </div>

        <button class="btn submit-btn" type="submit">Send Link</button>
    </form>
</div>