.main {
  .post-container h2 {
    color: darkslateblue;
  }
  .post-form {
    
    textarea {
      width: 100%;
      padding: 1rem;
      outline: none;
      margin-block: 0.5rem;
      border: none;
      resize: none;
      border-radius: 10px;
      color: black;

      &:hover,
      &:focus {
        background-color: #dceaff;
      }
    }
  }
  .post {
    .post-title {
      font-size: 1.5rem;
      font-weight: 600;
      color: darkslategray;
      margin-bottom: 1rem;
    }
    .post-content {
      padding: 1rem;
    }
    .post-detail {
      padding: 1rem;
      justify-content: space-between;
      font-size: 0.8rem;

      .fas {
        color: grey;
      }
    }
  }
}
.comments-container {
  padding: 1rem;
  border-top: 1px solid darkslateblue;
}
.comment-form {
  h4 {
    margin-bottom: 1rem;
  }
  input {
    padding: 0.5rem 1rem;
    width: 75%;
    outline: none;
    border: none;
    border-radius: 5px;

    &:hover,
    &:focus {
      background-color: #dceaff;
    }
  }
}
.comments {
  background-color: lightgray;
  padding: 1rem;
  margin-top: 0.5rem;
  border-radius: 10px;

  .comment {
    margin-bottom: 0.5rem;

    .user {
      margin-top: 0.2rem;
      font-size: 0.8rem;
      color: gray;
    }
  }
}

.aside {
  align-self: flex-start;
  position: sticky;
  top: 75px;

  header h3 {
    color: darkslateblue;
    
  }
}
.friends-container {
  .user {
    padding: 1rem;
    border-bottom: 1px solid grey;

    .fas {
      font-size: 1.5rem;
      color: darkslategray;
    }
    a {
      color: darkslategray;
      text-decoration: none;

      &:hover {
        color: rgba(47, 79, 79, 0.8);
      }
    }
  }
}