.footer {
  justify-content: space-between;
  padding: 0.5rem;
  background-color: gray;
  color: white; }
  .footer ul {
    list-style: none; }
  .footer a {
    color: white;
    font-size: 0.8rem;
    text-decoration: none;
    margin: 0.5rem; }
    .footer a:hover {
      color: lightgray; }
